* {
    box-sizing: border-box;
}

.body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
}

/* Responsive Styling for screens smaller than 576px */
@media screen and (max-width: 575px) {
    #aboutContainer, #skillsContainer, #projectContainer, #contactContainer {
        /*Structure*/
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-control {
        /* Structure */
        width: 100%;
    }

    .form-group {
        /* Structure */
        padding-right: 20px;
        padding-bottom: 10px;
    }

}