form.search {
  overflow: auto;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 5px solid blue;
  background-color: lightblue;
}

h1, label {
  color: aliceblue;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}

button {
  background-color: blue!important;
  color: aliceblue!important;
  margin-right: 10px!important;
}

/* Responsive Styling for screens smaller than 576px */
@media screen and (max-width: 575px) {
  form.search {
      position: fixed;
      top: 0;
      margin-bottom: 10px;
  }
}
